{% extends 'base.html' %}

{% block head %}
<title xmlns:href="http://www.w3.org/1999/xhtml">ML Deployment</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict The Annual Health Insurance Cost of US Resident</h1>
        <h4 style="text-align: center"> The dataset for this model prediction is from <a href="https://www.kaggle.com/mirichoi0218/insurance">Kaggle</a>.</h4>
        <h4 style="text-align: center">This model has accuracy score of ~89% and it predicts using xgboost algorithm.</h4>
        <h4 style="text-align: center">Welcome to test it :)</h4>  
    <div style="text-align: center" class="form">
        <form action="/predict" method="POST">
            <input type="number" name="age" id="age" placeholder="Age">
            <input type="number" name="bmi" id="bmi" placeholder="BMI">
            <input type="number" name="children" id="children" placeholder="Number of Children">
            <br />
            <label for="sex">Select Sex:</label>
            <select name="sex" id="sex">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
            </select>
            <label for="smoker">Select Smoking Status:</label>
            <select name="smoker" id="smoker" >
                    <option value="yes">Smoker</option>
                    <option value="no">Not Smoker</option>
            </select>
            <label for="region">Select Region:</label>
            <select name="region" id="region">
                    <option value="southwest">Southwest</option>
                    <option value="southeast">Southeast</option>
                    <option value="northwest">Northwest</option>
                    <option value="northeast">Northeast</option>
            </select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}
